<div class="ac_results" id="confirm_btns">
                  <%@members.each do|mem|%>
                  <div id="data">
                  <ul>
                    <li class="ac_even"><span><%=link_to mem.fname, "#",:id => mem.id, :class => "ac_even", :onclick => "show_member(this.id)"%></span></li>
                    <!-- <li class="ac_odd"></li> -->
                  </ul>
                </div>
                  <%end%>
                  <!-- buttons for submit and provider not found -->
                <ul class="confirm-selection confirm-btns confirm-btns-equal">
                <li>
                  <input type="submit" value="Select">
                </li>
                <li>
                  <input type="submit" value="Party not Found" onclick="invite_relative()">
                </li>
              </ul>
</div>
<script>
  //show Member details
    function show_member(val){
    $.ajax({
        type: 'GET',
        url: '/show_member',
        data: {id: val}
    });
  }

  function invite_relative(){
    $.ajax({
      type: 'GET',
      url: '/invite_third_paty'
    });
  }
</script>