<div class="current-insurance fixed-div" id="insure">
    <ul>
      <!-- <li class="remove"><a href="#" id="remove-button1">remove</a></li>--> 
      <%@provider.insurances.each do|i|%>
          <div id=<%=i.id%>>
            <%=i.iname%>
            <%=link_to "remove", "#", :id => i.id, :onclick => "remove_provider_insurance(this.id)"%><br/>
          </div>
      <%end%>
    </ul>
</div>